header{
padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the body */
body {
  font-family: Monospace,	Courier New;
  margin: 0;
  color:  rgb(152, 161, 13);
}
div {text-align: center;}

p{
    text-align: center;
    margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
}
a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(74, 231, 192);
  color: white;
  text-align: center;
}
p.growth{
text-align: center;
color: azure;
font-family: Monospace,	Courier New;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 80px;
  font-size: larger;
}
h1.growth{
  text-align: center;
color: azure;
font-family: Monospace,	Courier New;
}
.new{
  text-align: center;
  color: rgba(106, 106, 223, 0.87);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20mm;
}
.new2{
  text-align: center;
  color: rgba(106, 106, 223, 0.87);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
}